<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        ol {
            list-style-type: none; /* Elimina la numeración */
        }
    </style>
</head>
<body>


    <h1>Bienvenido</h1>

    <br/>


    <h2>Opciones</h2>
    <ol>
        <li><a href="/tipoDeNomina">Tipo de nómina</a></li>
        <li><a href="/sumaMovDepto">Suma de movimientos A/R/B por depto BDGTH</a></li>

    </ol>



    

    


    
</body>
</html>